.settings/language.settings.xml
.settings/org.eclipse.cdt.codan.core.prefs
scripts/*.mex*
scripts/logAnalyzer/*.mex*
*.kdev4
/build/
git_version.h
src/main2019/generated/

# Clion user-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf